services:
    hytale:
        container_name: hytale
        build: .
        stdin_open: true
        tty: true
        ports:
            - "5520:5520/udp"
        volumes:
            - ./hytale:/hytale
        env_file:
            - path: .env
              required: false
        environment:
            - SERVER_ACCEPT_EARLY_PLUGINS=true
            - SERVER_BIND=0.0.0.0:5520
            - SERVER_BACKUP=true